<!-- Section: intro -->
<section id="intro" class="intro">
  <div class="intro-content">
    <div class="container">
      <h1>Hola! este es el inicio de un gran proyecto para el ITM</h1>
      <h3>Creado por:</h3>
      <ul>
        <li>
          <p>Jorge Suaza Docente del ITM</p>
        </li>
      </ul>
      <h3>Desarrollado por:</h3>
      <ul>
        <li>
          <p>Edward Alexis Ortiz</p>
        </li>
        <li>
          <p>Yuly Tatiana Murillo</p>
        </li>
        <li>
          <p>Jorge Andres Maturana</p>
        </li>
      </ul>
    
      <h1>¿De que se trata?</h1>
      <p>En los diferentes programas de formación técnica, tecnológica y
        profesional ligados a las ciencias computacionales, las asignaturas o
        módulos relacionados con algoritmia hacen parte del ciclo de formación
        básico. Dichas asignaturas son orientadas a lograr en el estudiante la
        capacidad de resolver problemas de programación a través del uso de
        estructuras de datos que soporten la construcción de código en
        lenguajes de alto nivel. En este aspecto la construcción con el uso de
        estas estructuras requiere la integración de conocimientos de diversa
        índole, siendo el razonamiento lógico, el modelamiento matemático y el
        pensamiento abstracto aquellos con mayor nivel de relevancia. Con
        miras de mejorar los niveles de apropiación del conocimiento y
        desarrollo de las competencias de pensamiento analítico y sistémico en
        los estudiantes inscritos a las facultades de Ingeniería, se propone
        la implementación de una aplicación web didáctica y administrativa,
        que contribuya al fortalecimiento del pensamiento lógico y
        computacional de los estudiantes. Se busca que la aplicación web pueda
        ser utilizada al entorno  educativo del ITM 1 . El aplicativo que se
        propone permitirá el primer acercamiento de los estudiantes con la
        programación mediante la construcción de algoritmos, dispondrá de una
        serie de opciones que guiará a los estudiantes a la implementación
        correcta de los diferentes conceptos algorítmicos y la programación
        orientada a objetos, será capaz de revisar la solución planteada por
        el estudiante, indicará errores de sintaxis, y mostrará estadísticas
        con respecto a los intentos y errores cometidos. Esto les servirá a
        los docentes para dar seguimiento continuo de los estudiantes.</p>
    </div>
  </div>
</section>