<!-- Section: intro -->
<section id="intro" class="intro">
  <div class="intro-content">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 lg8-container-centered">
          <div class="form-wrapper">
            <div class="wow fadeInCenter" >

              <div class="panel panel-skin">
                <div class="panel-heading">
                  <h3 class="panel-title"><span class="fa fa-pencil-square-o"></span> Registrar cuenta <small>(Es gratis!)</small></h3>
                </div>
                <div class="panel-body">                  
                  <div id="errormessage"></div>

                  <form class="form-horizontal">
                    <div class="form-group">
                      <label class="control-label col-sm-2" for="user">*Usuario:</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" required id="user" placeholder="Ingrese el usuario">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-sm-2" for="email">*Correo:</label>
                      <div class="col-sm-10">
                        <input type="email" class="form-control" required id="email" placeholder="Ingrese el correo">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-sm-2" for="pwd">*Contraseña:</label>
                      <div class="col-sm-10"> 
                        <input type="password" class="form-control" required id="pwd" placeholder="Ingrese la contraseña">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-sm-2" for="pwd1">*Repita la contraseña:</label>
                      <div class="col-sm-10"> 
                        <input type="password" class="form-control" required id="pwd1" placeholder="Repita la contraseña">
                      </div>
                    </div>                    
                    <div class="form-group"> 
                      <div class="col-sm-offset-5 col-sm-10">
                        <button type="submit" class="btn btn-primary">Crear cuenta</button>
                      </div>
                    </div>
                    <small>Los campos con  * son obligatorios</small>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>