<!-- Section: intro -->
<section id="intro" class="intro">
  <div class="intro-content">
    <div class="container">
      <div class="alert alert-danger alert-dismissable" *ngIf="!isValid">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
        <strong>Error!</strong>
        <ul>
          <li *ngFor="let e of message">
            {{e}}
          </li>
        </ul>
      </div>
      <div class="row">
        <div class="col-lg-8 lg8-container-centered">
          <div class="form-wrapper">
            <div class="wow fadeInCenter">

              <div class="panel panel-skin">
                <div class="panel-heading">
                  <h3 class="panel-title"><span class="fa fa-pencil-square-o"></span> Registrar cuenta <small>(Es gratis!)</small></h3>
                </div>
                <div class="panel-body">
                  <div id="errormessage"></div>

                  <form class="form-horizontal" role="form">
                    <div class="form-group">
                      <label class="control-label col-sm-2" for="user">*Usuario:</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" name="user" required id="user" placeholder="Ingrese el usuario" [(ngModel)]="user.userName">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-sm-2" for="email">*Correo:</label>
                      <div class="col-sm-10">
                        <input type="email" class="form-control" required id="email" name="email" [(ngModel)]="user.email" placeholder="Ingrese el correo">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-sm-2" for="pwd">*Contraseña:</label>
                      <div class="col-sm-10">
                        <input type="password" class="form-control" name="pwd" required id="pwd" [(ngModel)]="user.userPassword" placeholder="Ingrese la contraseña">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-sm-2" for="pwd1">*Repita la contraseña:</label>
                      <div class="col-sm-10">
                        <input type="password" class="form-control" name="pwd1" required id="pwd1" [(ngModel)]="confirmPassword" placeholder="Repita la contraseña">
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-sm-offset-5 col-sm-10">
                        <button (click)="!isRunning && saveOrUpdate()" class="btn btn-primary">Crear cuenta</button>
                      </div>
                    </div>
                    <small>Los campos con  * son obligatorios</small>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--Exito modal-->
<div class="modal modalSucess fade" #messageModal id="exitomodal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <span>Registro de cuenta exitoso</span>
      </div>
      <div class="modal-body row">
        <div class="container col-md-12">
         <label>La cuenta ha sido creda exitosamente</label>
        </div>
      </div>
      <div class="modal-footer">
        <input type="button" data-dismiss="modal" class="btn btn-primary" value="cerrar">
      </div>
    </div>
  </div>
</div>