/* You can add global styles to this file, and also import other style files */

/* General sizing */
ul.dropdown-lr {
  width: 300px;
}

/* mobile fix */
@media (max-width: 768px) {
	.dropdown-lr h3 {
		color: #eee;
	}
	.dropdown-lr label {
		color: #eee;
	}
}

.lg8-container-centered{
	margin-left: 18%;
}

.recaptcha-img-button{
	width: 100px;
	height: 100px;
	cursor: pointer;
}
.captcha-textarea{
	resize:none;
	font-family:cursive;
	background-color:silver;
	text-decoration:line-through;
	font-size: 30px;
	font-weight: bolder;
}